extends layout 
block scripts 
    script(src='/javascripts/pictureFormFinalHandler.js', defer='true')
    script(src='/javascripts/variantLoader.js', defer='true')
    script(src='/javascripts/carFormOptionals.js', defer='true')
    script(src='/javascripts/variantFormFieldsHandler.js', defer='true')
    script(src="/javascripts/layoutSearch.js" defer='true')
    script(src="/javascripts/layoutModes.js" defer='true')
    script(src="/javascripts/layoutMenuButton.js" defer='true')
block content 
    h1= title
    .form-progress 
        .stage 
            h2(class='selectedText' class='selectable') 1. Vehicle information 
        .stage(class='unselectable') 
            h2 2. Contact information 
        .stage(class='unselectable') 
            h2 3. Additional information 
    form(method='POST', action='/inventory/add-car/form-submission', class='form-add-car', enctype='multipart/form-data' id='finalForm')
        fieldset(id='mandatoryFieldset') 
            legend(class='titleLegend') #{'Vehicle information (Required fields)'}
            .form-content-text(class='mandatory')
                label(for='carMake') Make:
                select(id='carMake', name='make', required='true')
                    for make in makesList 
                        option(value=`${make.name},${make.makeId},${make.makeCountry}` selected=(make.makeId === makeSelection ? 'selected' : false )) #{make.name}
                label(for='carYear') Year:
                input(id='carYear', type='number', placeholder='Enter year...', name='year', value=year, required='true')
                label(for='carModel') Model:
                select(id='carModel', name='model', required='true')
                    option(value='', hidden='true', selected='true') Select Model
                    for m in models 
                        option(value=m.model_name selected=(m.model_name == model ? 'selected' : false)) #{m.model_name}
                    option(value='Other' selected=(otherModel ? 'selected' : false)) Other
                if otherModel
                    label(for='newModel' id='newModelLabel') Model name:  
                    input(id='newModel', type='text', name='newModel', placeholder="Enter model's name" value=newModel required=(otherModel?'true':'false'))
                if variantsList.length > 1
                    label(for='carVariants' class='variantLabel') Variant: 
                    select(id='carVariants' name='variant', required='true')
                        option(value='', hidden='true', selected='true') Select Variant
                        for variant in variantsList 
                            if variant.model_trim !== ''
                                option(value=`${(variant.model_name ? variant.model_name : 'Default')},${variant.model_trim},${(variant.model_id ? variant.model_id : '')}`) #{variant.model_trim}
                        if variantsList[0].model_trim == ''
                            option(value=`${(variantsList[0].model_name ? variantsList[0].model_name : 'Default')},${(variantsList[0].model_trim ? variantsList[0].model_trim : 'Default version')},${(variantsList[0].model_id ? variantsList[0].model_id : '')}`) Default version
                if variantsList.length == 1
                    label(for='carVariants' class='variantLabel') Variant: 
                    select(id='carVariants' name='variant', required='true')
                        if variantsList[0].model_trim == ''
                            option(value=`${(variantsList[0].model_name ? variantsList[0].model_name : 'Default')},${(variantsList[0].model_trim ? variantsList[0].model_trim : 'Default version')},${(variantsList[0].model_id ? variantsList[0].model_id : '')}`, selected='true') Default version
                        else
                            option(value=`${(variantsList[0].model_name ? variantsList[0].model_name : 'Default')},${(variantsList[0].model_trim ? variantsList[0].model_trim : 'Default version')},${(variantsList[0].model_id ? variantsList[0].model_id : '')}`, selected='true') #{variantsList[0].model_trim}                      
                if variantsList.length < 1
                    label(for='newVariant' id='newVariantLabel' class='invisible') Variant name:
                    input(id='newVariant', type='text', name='newVariant', placeholder="Enter variant's name" value=variant class='invisible')
                label(id='labelForNewModel' for='newModelFromVariantForm' class='invisible') Model name: 
                input(id='newModelFromVariantForm' type="text" name='newModelFromVariantForm' placeholder="Enter model's name" class='invisible')
                label(id='labelForNewVariant' for='newVariantFromVariantForm' class='invisible') Variant name: 
                input(id='newVariantFromVariantForm' type="text" name='newVariantFromVariantForm' placeholder="Enter variant's name" class='invisible')
                label(for='carMileage') Mileage:
                input(id='carMileage', type='number', placeholder='Enter mileage...', value=(undefined===mileage ? '' : mileage), name='mileage',required='true')
                label(for='carColor') Color:
                select(id='carColor', name='color', required='true')
                    option(value='', hidden='true', selected='true') Select Color
                    option(value='Black', selected=(color == "Black" ? 'selected' : false)) Black
                    option(value='Blue', selected=(color == "Blue" ? 'selected' : false)) Blue
                    option(value='Brown', selected=(color == "Brown" ? 'selected' : false)) Brown
                    option(value='Grey', selected=(color == "Grey" ? 'selected' : false)) Grey
                    option(value='Green', selected=(color == "Green" ? 'selected' : false)) Green
                    option(value='Red', selected=(color == "Red" ? 'selected' : false)) Red
                    option(value='Silver', selected=(color == "Silver" ? 'selected' : false)) Silver
                    option(value='White', selected=(color == "White" ? 'selected' : false)) White
                    option(value='Yellow', selected=(color == "Yellow" ? 'selected' : false)) Yellow
                    option(value='Other', selected=(color == "Other" ? 'selected' : false)) Other
                label(for='carPrice') Price:
                input(id='carPrice',type='number', name='price', placeholder='Enter price in USD', value=price, required='true')
                label(for='carStatus') Status:
                select(id='carStatus', name='status' value=status, required='true')
                    option(value='Sold', selected=(status=='Sold' ? 'selected':false)) Sold
                    option(value='Available', selected=(status=='Available' ? 'selected':false)) Available
                .mandatory-fieldset-buttons(class='invisible')
                    button(type='button') Next
        fieldset(id='optionalInfo' class='invisible')
            legend(class='titleLegend') Contact information (Optional fields)
            .form-content-text(id='contactInfo')
                label(for='carCountry') Country: 
                select(id='carCountry', name='carCountry')
                    option(value='', hidden='true', selected='true') Country vehicle is at
                    for country in countries 
                        option(value=`${country}`) #{country}
                label(for='carPhone') Phone:
                input(id='carPhone',type='text', name='phone', placeholder='Enter a valid phone number...', value=(undefined===description ? '' : description))
                label(for='carPhone') Email:
                input(id='carEmail',type='text', name='email', placeholder='Enter a valid email address...', value=(undefined===description ? '' : description))
            .optional-fieldset-buttons 
                button(type='button') Previous
                button(type='button') Next
        fieldset(id='optionalMore' class='invisible')
            legend(class='titleLegend') Additional information (Optional fields)
            .form-content-text(id='lastInputText')
                label(for='carDescription') Description:
                input(id='carDescription',type='text', name='description', placeholder='Tell us more about this car...', value=(undefined===description ? '' : description))
            fieldset 
                legend(class='subtitleLegend') Upload pictures of this car (max 5 pics, less than 15MB each):
                fieldset 
                    .form-content-pic
                        label(for='pic1') Picture 1:
                        input(id='pic1' type='file' name='picture1' accept='image/png, image/jpeg, image/avif, image/gif')
                        labed(for='pic1Description') Description: 
                        input(id='pic1Description' type='text' name='pic1Description' placeholder='Enter a description for this picture')
                        input(type='hidden', name='picId1', class='picId')
                fieldset 
                    .form-content-pic
                        label(for='pic2') Picture 2:
                        input(id='pic2' type='file' name='picture2' accept='image/png, image/jpeg, image/avif, image/gif')
                        labed(for='pic1Description') Description:
                        input(id='pic1Description' type='text' name='pic2Description' placeholder='Enter a description for this picture')
                        input(type='hidden', name='picId2', class='picId')
                fieldset 
                    .form-content-pic
                        label(for='pic3') Picture 3:
                        input(id='pic3' type='file' name='picture3' accept='image/png, image/jpeg, image/avif, image/gif')
                        labed(for='pic1Description') Description: 
                        input(id='pic1Description' type='text' name='pic3Description' placeholder='Enter a description for this picture')
                        input(type='hidden', name='picId3', class='picId')
                fieldset 
                    .form-content-pic
                        label(for='pic4') Picture 4:
                        input(id='pic4' type='file' name='picture4' accept='image/png, image/jpeg, image/avif, image/gif')
                        labed(for='pic1Description') Description: 
                        input(id='pic1Description' type='text' name='pic4Description' placeholder='Enter a description for this picture')
                        input(type='hidden', name='picId4', class='picId')
                fieldset 
                    .form-content-pic
                        label(for='pic5') Picture 5:
                        input(id='pic5' type='file' name='picture5' accept='image/png, image/jpeg, image/avif, image/gif')
                        labed(for='pic1Description') Description: 
                        input(id='pic1Description' type='text' name='pic5Description' placeholder='Enter a description for this picture')
                        input(type='hidden', name='picId5', class='picId')
                .optional-fieldset-buttons 
                    button(type='button' id='morePrevious') Previous
                    button(type='submit') Add car
        

    