extends layout 
block scripts 
    script(src="/javascripts/layoutSearch.js" defer='true')
    script(src="/javascripts/layoutModes.js" defer='true')
    script(src="/javascripts/layoutMenuButton.js" defer='true')
    script(src="/javascripts/carListOptions.js" defer='true')
block content 
    .searchOptionsList 
        div(class='option')
            select(id='makeSelector' name='make')
                option(value='' hidden='true' selected='true') Make
                option(value='all') All Makes
                for make in makesOrdered 
                    option(value=make) #{make}
        div(class='option')
            select(id='yearSelector' name='year')
                option(value='' hidden='true' selected='true') Year
                option(value='all') All Years
                for year in years 
                    option(value=year) #{year}
        div(class='option')
            select(id='bodySelector' name='body')
                option(value='' hidden='true' selected='true') Body
                option(value='all') All Bodies
                for body in bodies 
                    option(value=body) #{body}
        div(class='option')
            select(id='energySelector' name='energy')
                option(value='' hidden='true' selected='true') Energy  
                option(value='all') All Energies 
                for energy in energies 
                    option(value=energy) #{energy}
        div(class='option')
            select(id='priceSelector' name='price')
                option(value='' hidden='true' selected='true') Price
                option(value='all') All Prices
                for price in prices 
                    if price !== undefined
                        option(value=price) #{price}
        div(class='option') 
            select(id='countrySelector' name='locationOption')
                option(value='' hidden='true' selected='true') Location
                    option(value='all') All Countries
                    for country in countries 
                        option(value=country) #{country}
    .list 
        -count = 0
        for car in cars
            -count ++
                .list-card(data-body=car.car.version.body data-energy=car.car.version.fuel data-location=car.car.country data-price=car.priceRange data-number=count)
                    a(href=car.car.url) 
                        .card-thumbnail
                            if undefined===car.pic
                                img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/c_fit,w_800,e_sharpen/iz6xc3p9434pwnxzqqjk' alt=`Unavailable car pic placeholder image` loading='lazy')
                            else 
                                img(src=`${car.pic}` alt=`Vehicle image` loading='lazy')
                            
                        .card-info
                            .card-logo
                                img(src=car.car.make.logoSrc alt=`${car.car.make.name} logo`)
                            .card-text
                                .title 
                                    p #{car.car.version.year} #{car.car.make.name} #{car.car.model.name}
                                .subtitle 
                                    p #{car.car.modelVariant}
                                .footer
                                    p $#{car.car.price.toLocaleString()} • #{car.car.status} • #{car.car.country}
        

    