extends layout
block scripts
    script(src="/javascripts/carDetail.js", defer='true')
    script(src="/javascripts/layoutSearch.js" defer='true')
    script(src="/javascripts/layoutModes.js" defer='true')
    script(src="/javascripts/layoutMenuButton.js" defer='true')
    script(src="/javascripts/specsControl.js" defer='true')
    script(src="/javascripts/logoResizer.js" defer='true')
    script(src="/javascripts/cardTricks.js" defer='true')
block content
    .car-title
        .car-title-info
            h1 #{car.model.year} #{car.make.name}  #{car.model.name}
            h2 #[em #{car.version.name}]
        .car-title-controls
            p 
                a(href=`/inventory/car/${car._id}/update/old`) Update
            p2
                a(href=`/inventory/car/${car._id}/delete`) Delete
    .car-info-container
        .car-media
            if pics.length > 0
                .main-img
                    .previous-control
                        img(src='/images/icons/previousIcons/previous1.svg' alt='Previous icon' class='main-img-control')
                    .main-img-container
                        .specs-control 
                            p(id='showSpecs' class='invisible') Show specs 
                            p(id='hideSpecs') Hide specs
                        img(src=pics[0].mid alt='Car image' id='main-img')
                    .next-control
                        img(src='/images/icons/nextIcons/next1.svg' alt='Next icon' class='main-img-control')
                .side-imgs
                    for pic in pics 
                        img(src=pic.mini alt='Car image' data-mid=pic.mid)
            if pics.length < 1
                .main-img 
                    .previous-control 
                    .main-img-container 
                        img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/c_fit,w_800/iz6xc3p9434pwnxzqqjk' alt='Unavailable vehicle picture placeholder image')
                    .next-control 
        .car-technical(id='specs')
            .card-technical
                .card-technical-title(id='measurementSwitch')
                    .card-technical-title-group
                        img(src='/images/icons/carIcons/carBlack1.svg' alt='Car Icon' class='black')
                        img(src='/images/icons/carIcons/carWhite1.svg' alt='Car Icon' class='white')
                        h4 Basics
                    .measurementSystem(id='measurementBasics')
                        p(class='selectedText') Imperial
                        p |
                        p Metric
                .card-technical-rows
                    if car.version.fuelSpecifics 
                        .card-technical-row 
                            img(src='/images/icons/energyIcons/energyBlack1.svg' alt='Energy Icon' id='energyIcon' class='black')
                            img(src='/images/icons/energyIcons/energyWhite1.svg' alt='Energy Icon' id='energyIcon' class='white')
                            h5 #{car.version.fuelSpecifics}
                    else 
                        .card-technical-row 
                            img(src='/images/icons/energyIcons/energyBlack1.svg' alt='Energy Icon' id='energyIcon' class='black')
                            img(src='/images/icons/energyIcons/energyWhite1.svg' alt='Energy Icon' id='energyIcon' class='white')
                            h5 N/A
                    if car.version.drive
                        .card-technical-row(id='technicalRowDrive')
                            if /^r/i.test(car.version.drive)
                                img(src='/images/icons/RWDIcons/RWDBlack1.svg' alt='Rear-wheel-drive Icon' class='black')
                                img(src='/images/icons/RWDIcons/RWDWhite1.svg' alt='Rear-wheel-drive Icon' class='white')
                                h5 RWD
                            if /^f/i.test(car.version.drive)
                                img(src='/images/icons/FWDIcons/FWDBlack1.svg' alt='Front-wheel-drive Icon' class='black')
                                img(src='/images/icons/FWDIcons/FWDWhite1.svg' alt='Front-wheel-drive Icon' class='white')
                                h5 FWD
                            if /^all/i.test(car.version.drive)
                                img(src='/images/icons/AWDIcons/AWDBlack1.svg' alt='All-wheel-drive Icon' class='black')
                                img(src='/images/icons/AWDIcons/AWDWhite1.svg' alt='All-wheel-drive Icon' class='white')
                                h5 AWD
                            if /4/.test(car.version.drive)
                                img(src='/images/icons/AWDIcons/AWDBlack1.svg' alt='All-wheel-drive Icon' class='black')
                                img(src='/images/icons/AWDIcons/AWDWhite1.svg' alt='All-wheel-drive Icon' class='white')
                                h5 4WD
                    if car.version.transmission
                        .card-technical-row
                            img(src='/images/icons/transmissionIcons/transmissionBlack1.svg' alt='Transmission Icon' class='black')
                            img(src='/images/icons/transmissionIcons/transmissionWhite1.svg' alt='Transmission Icon' class='white')
                            if /transmission/i.test(car.version.transmission) == false
                                h5 #{car.version.transmission} Transmission
                            else
                                h5 #{car.version.transmission}
                    if car.version.weight
                        - weight = car.version.weight
                        .card-technical-row(id='imperialWeight')                             
                            img(src='/images/icons/weightIcons/weightBlack1.svg' alt='Weight Icon' id='weightIcon' class='black')
                            img(src='/images/icons/weightIcons/weightWhite1.svg' alt='Weight Icon' id='weightIcon' class='white')
                            h5 #{Math.round(car.version.weight*2.20462).toLocaleString()} lbs
                        .card-technical-row(id='metricWeight' class='invisible')
                            img(src='/images/icons/weightIcons/weightBlack1.svg' alt='Weight Icon' id='weightIcon' class='black')
                            img(src='/images/icons/weightIcons/weightWhite1.svg' alt='Weight Icon' id='weightIcon' class='white')
                            h5 #{car.version.weight} kg
                    if !car.version.length && !car.version.width && !car.version.height
                        .card-technical-row(id='imperialDimensions')
                            img(src='/images/icons/dimensionsIcons/dimensionsBlack1.svg' alt='Dimensions Icon' id='dimensionsIcon' class='black')
                            img(src='/images/icons/dimensionsIcons/dimensionsWhite1.svg' alt='Dimensions Icon' id='dimensionsIcon' class='white')
                            h5 LxWxH: N/A
                        .card-technical-row(id='metricDimensions' class='invisible')
                            img(src='/images/icons/dimensionsIcons/dimensionsBlack1.svg' alt='Dimensions Icon' id='dimensionsIcon' class='black')
                            img(src='/images/icons/dimensionsIcons/dimensionsWhite1.svg' alt='Dimensions Icon' id='dimensionsIcon' class='white')
                            h5 LxWxH: N/A
                    if car.version.length && car.version.width && car.version.height
                        .card-technical-row(id='imperialDimensions')
                            img(src='/images/icons/dimensionsIcons/dimensionsBlack1.svg' alt='Dimensions Icon' id='dimensionsIcon' class='black')
                            img(src='/images/icons/dimensionsIcons/dimensionsWhite1.svg' alt='Dimensions Icon' id='dimensionsIcon' class='white')
                            h5 LxWxH: #{(Math.round(car.version.length*0.03937*10)/10).toLocaleString()} in x #{(Math.round(car.version.width*0.03937*10)/10).toLocaleString()} in x #{(Math.round(car.version.height*0.03937*10)/10).toLocaleString()} in
                        .card-technical-row(id='metricDimensions' class='invisible')
                            img(src='/images/icons/dimensionsIcons/dimensionsBlack1.svg' alt='Dimensions Icon' id='dimensionsIcon' class='black')
                            img(src='/images/icons/dimensionsIcons/dimensionsWhite1.svg' alt='Dimensions Icon' id='dimensionsIcon' class='white')
                            h5 LxWxH: #{Math.round(car.version.length/10)/100} m x #{Math.round(car.version.width/10)/100} m x #{Math.round(car.version.height/10)/100} m
            if car.version.enginePower || car.version.engineTorqueNm || car.version.enginePosition || car.version.engineCC || car.version.engineCyl || !car.version.engineCompression || /Not/.test(car.version.engineCompression) == false            
                .card-technical
                    .card-technical-title
                        img(src='/images/icons/engineIcons/engineBlack1.svg' alt='Engine Icon' class='black')
                        img(src='/images/icons/engineIcons/engineWhite1.svg' alt='Engine Icon' class='white')
                        h4 Engine 
                    .card-technical-rows(id='cardTechnicalRowsEngine')
                        if car.version.enginePosition
                            .engineSpecIconContainer
                                if /front/i.test(car.version.enginePosition)
                                    img(src='/images/icons/engineFrontIcons/frontBlack1.svg' alt='Front Engine Icon' class='black')
                                    img(src='/images/icons/engineFrontIcons/frontWhite1.svg' alt='Front Engine Icon' class='white')
                                if /middle/i.test(car.version.enginePosition)
                                    img(src='/images/icons/engineCenterIcons/centerBlack1.svg' alt='Middle Engine Icon' class='black')
                                    img(src='/images/icons/engineCenterIcons/centerWhite1.svg' alt='Middle Engine Icon' class='white')
                                if /back/i.test(car.version.enginePosition)
                                    img(src='/images/icons/engineBackIcons/backBlack1.svg' alt='Back Engine Icon' class='black')
                                    img(src='/images/icons/engineBackIcons/backWhite1.svg' alt='Back Engine Icon' class='white')
                                if /rear/i.test(car.version.enginePosition)
                                    img(src='/images/icons/engineBackIcons/backBlack1.svg' alt='Back Engine Icon' class='black')
                                    img(src='/images/icons/engineBackIcons/backWhite1.svg' alt='Back Engine Icon' class='white')
                            h5 Position: #{car.version.enginePosition}
                        if car.version.engineType
                            .engineSpecIconContainer
                                img(src='/images/icons/engineIcons/engineTypeBlack1.svg' alt='Engine Type Icon' class='black')
                                img(src='/images/icons/engineIcons/engineTypeWhite1.svg' alt='Engine Type Icon' class='white')
                            h5 Type: #{car.version.engineType}
                        if car.version.engineCC
                            .engineSpecIconContainer
                                img(src='/images/icons/displacementIcons/displacementBlack1.svg' alt='Displacement Icon' class='black')
                                img(src='/images/icons/displacementIcons/displacementWhite1.svg' alt='Displacement Icon' class='white')
                            h5 Displacement: #{car.version.engineCC.toLocaleString()} cc
                        if car.version.engineCyl
                            .engineSpecIconContainer
                                img(src='/images/icons/cylinderIcons/cylindersBlack1.svg' alt='Cylinders Icon' class='black')
                                img(src='/images/icons/cylinderIcons/cylindersWhite1.svg' alt='Cylinders Icon' class='white')
                            h5 Cylinders: #{car.version.engineCyl}
                        if /\d/.test(car.version.engineCompression)
                            .engineSpecIconContainer
                                img(src='/images/icons/compressionIcons/compressionBlack1.svg' alt='Compression Icon' class='black')
                                img(src='/images/icons/compressionIcons/compressionWhite1.svg' alt='Compression Icon' class='white')
                            h5 Compression: #{car.version.engineCompression}
                        if car.version.engineTorqueNm
                            .engineSpecIconContainer
                                img(src='/images/icons/torqueIcons/torqueBlack1.svg' alt='Torque Icon' class='black')
                                img(src='/images/icons/torqueIcons/torqueWhite1.svg' alt='Torque Icon' class='white')
                            h5 Torque: #{car.version.engineTorqueNm} Nm
                        if car.version.enginePower
                            .engineSpecIconContainer
                                img(src='/images/icons/powerIcons/powerBlack1.svg' alt='Power Icon' id='powerIcon' class='black')
                                img(src='/images/icons/powerIcons/powerWhite1.svg' alt='Power Icon' id='powerIcon' class='white')
                            h5 Power: #{car.version.enginePower} hp
            .card-technical
                .card-technical-title(id='measurementSwitch')
                    .card-technical-title-group
                        img(src='/images/icons/efficiencyIcons/efficiencyBlack1.svg' alt='Efficiency Icon' class='black')
                        img(src='/images/icons/efficiencyIcons/efficiencyWhite1.svg' alt='Efficiency Icon' class='white')
                        h4 Efficiency   
                    .measurementSystem(id='measurementEfficiency')
                        p(class='selectedText') Imperial
                        p |
                        p Metric
                .card-technical-rows
                    .card-technical-row(id='imperialHwy')
                        img(src='/images/icons/highwayIcons/highwayBlack1.svg' alt='Highway Icon' class='black')
                        img(src='/images/icons/highwayIcons/highwayWhite1.svg' alt='Highway Icon' class='white')
                        if !car.version.fuelEfficiencyHgw 
                            h5 Highway: N/A
                        if car.version.fuelEfficiencyHgw && typeof car.version.fuelEfficiencyHgw !== 'string'
                            h5 Highway: #{car.version.fuelEfficiencyHgw} mpg
                    .card-technical-row(id='metricHwy' class='invisible')
                        img(src='/images/icons/highwayIcons/highwayBlack1.svg' alt='Highway Icon' class='black')
                        img(src='/images/icons/highwayIcons/highwayWhite1.svg' alt='Highway Icon' class='white')
                        if !car.version.fuelEfficiencyHgw
                            h5 Highway: N/A 
                        if car.version.fuelEfficiencyHgw && typeof car.version.fuelEfficiencyHgw !== 'string'
                            h5 Highway: #{Math.round(car.version.fuelEfficiencyHgw*1.6)} kpg
                    .card-technical-row(id='imperialMixed')
                        img(src='/images/icons/mixedIcons/mixedBlack2.svg' alt='Mixed Icon' class='black')
                        img(src='/images/icons/mixedIcons/mixedWhite2.svg' alt='Mixed Icon' class='white')
                        if !car.version.fuelEfficiencyMixed 
                            h5 Mixed: N/A
                        if car.version.fuelEfficiencyMixed && typeof car.version.fuelEfficiencyMixed !== 'string'
                            h5 Mixed: #{car.version.fuelEfficiencyMixed} mpg
                    .card-technical-row(id='metricMixed' class='invisible')
                        img(src='/images/icons/mixedIcons/mixedBlack2.svg' alt='Mixed Icon' class='black')
                        img(src='/images/icons/mixedIcons/mixedWhite2.svg' alt='Mixed Icon' class='white')
                        if !car.version.fuelEfficiencyMixed
                            h5 Mixed: N/A 
                        if car.version.fuelEfficiencyMixed && typeof car.version.fuelEfficiencyMixed !== 'string'
                            h5 Mixed: #{Math.round(car.version.fuelEfficiencyMixed*1.6)} kpg
                    .card-technical-row(id='imperialCity')
                        img(src='/images/icons/cityIcons/cityBlack1.svg' alt='City Icon' class='black')
                        img(src='/images/icons/cityIcons/cityWhite1.svg' alt='City Icon' class='white')
                        if !car.version.fuelEfficiencyCity 
                            h5 City: N/A
                        if car.version.fuelEfficiencyCity && typeof car.version.fuelEfficiencyCity !== 'string'
                            h5 City: #{car.version.fuelEfficiencyCity} mpg
                    .card-technical-row(id='metricCity' class='invisible')
                        img(src='/images/icons/cityIcons/cityBlack1.svg' alt='City Icon' class='black')
                        img(src='/images/icons/cityIcons/cityWhite1.svg' alt='City Icon' class='white')
                        if !car.version.fuelEfficiencyCity
                            h5 City: N/A 
                        if car.version.fuelEfficiencyCity && typeof car.version.fuelEfficiencyCity !== 'string'
                            h5 City: #{Math.round(car.version.fuelEfficiencyCity*1.6)} kpg
            .card-technical
                .card-technical-title(id='measurementSwitch')
                    .card-technical-title-group
                        img(src='/images/icons/performanceIcons/performanceBlack1.svg' alt='Performance Icon' class='black')
                        img(src='/images/icons/performanceIcons/performanceWhite1.svg' alt='Performance Icon' class='white')
                        h4 Performance   
                    .measurementSystem(id='measurementPerformance') 
                        p(class='selectedText') Imperial
                        p |
                        p Metric
                .row-specs
                    .card-technical-rows(id='imperialSpeed')
                        .card-technical-row
                            img(src='/images/icons/speedIcons/speedBlack1.svg' alt='Speed Icon' class='black')
                            img(src='/images/icons/speedIcons/speedWhite1.svg' alt='Speed Icon' class='white')
                            if car.version.maxSpeed 
                                h5 Top speed: #{`${Math.round(car.version.maxSpeed/1.6)} mph`}
                            if car.version.maxSpeed < 1
                                h5 Top speed: N/A
                            if car.version.maxSpeed == 'null'
                                h5 Top speed: N/A
                    .card-technical-rows(id='imperialAcceleration')
                        .card-technical-row
                            img(src='/images/icons/accelerationIcons/accelerationBlack1.svg' alt='Acceleration Icon' id='accelerationIcon' class='black')
                            img(src='/images/icons/accelerationIcons/accelerationWhite1.svg' alt='Acceleration Icon' id='accelerationIcon' class='white')
                            if car.version.accel0To100 
                                h5 Acceleration (0-60 mph): #{`${car.version.accel0To100} s`}
                            if car.version.accel0To100 < 1
                                h5 Acceleration (0-60 mph): N/A
                            if car.version.accel0To100 == 'null'
                                h5 Acceleration (0-60 mph): N/A
                    .card-technical-rows(id='metricSpeed' class='invisible')
                        .card-technical-row
                            img(src='/images/icons/speedIcons/speedBlack1.svg' alt='Speed Icon' class='black')
                            img(src='/images/icons/speedIcons/speedWhite1.svg' alt='Speed Icon' class='white')
                            if car.version.maxSpeed 
                                h5 Top speed: #{`${car.version.maxSpeed} km/h`}
                            if car.version.maxSpeed < 1
                                h5 Top speed: N/A
                            if car.version.maxSpeed == 'null'
                                h5 Top speed: N/A
                    .card-technical-rows(id='metricAcceleration' class='invisible')
                        .card-technical-row
                            img(src='/images/icons/accelerationIcons/accelerationBlack1.svg' alt='Acceleration Icon' id='accelerationIcon' class='black')
                            img(src='/images/icons/accelerationIcons/accelerationWhite1.svg' alt='Acceleration Icon' id='accelerationIcon' class='white')
                            if car.version.accel0To100 
                                h5 Acceleration (0-100 km/h): #{`${car.version.accel0To100} s`}
                            if car.version.accel0To100 < 1
                                h5 Acceleration (0-100 km/h): N/A
                            if car.version.accel0To100 == 'null'
                                h5 Acceleration (0-100 km/h): N/A
    .car-basic-info
        .car-basic-info-section1
            .car-logo 
                a(href=car.make.url) 
                    img(src=car.make.logoSrc, alt=`${car.make.name} logo`)
            .car-basic-details
                .car-technical 
                    h3 Make: 
                        a(href=car.make.url) #{car.make.name}
                    if car.version.fuel 
                        h3 Energy:
                            a(href='')  #{car.version.fuel}
                    h3 Mileage: #{car.mileage.toLocaleString()} miles
                    h3 Color: #{car.color}
        .car-basic-info-section2
            .car-info 
                    h2 $#{car.price.toLocaleString()}
                    - status = car.status==='Available' ? 'carAvailable' : 'carSold'
                    h2(id=status) #{car.status}
        .car-basic-info-section3 
            .car-location
                div
                    img(src='/images/icons/locationIcons/location1.svg' alt='Car location icon')
                    if car.country==''
                        p Unknown Location
                    if car.country
                        p Car Location: #{car.country}
            .car-contact
                div
                    img(src='/images/icons/contactIcons/contact1.svg' alt='Car contact icon')
                    a Contact Seller
                div(class='invisible')
                    form 
                        input(type='text' resize='none' id='msgToSeller' placeholder='Type your message...' required='true')
                        button(type='submit') Send
    .car-description 
        p= car.description
    .car-interests
        .interest-links 
            h4 You might be interested in... 
            .car-links
                if car.version.versionBodyType !== null 
                    - body = /s$/.test(car.version.versionBodyType) ? car.version.versionBodyType : `${car.version.versionBodyType}s`
                    - bodyTypeFormatted = car.version.versionBodyType.split(' ').join("_") 
                    - makeFormatted = car.make.name.split(" ").join('_')
                    - countryFormatted = car.make.country.split(' ').join('_')
                    h4 
                        a(href=`/inventory/cars/${bodyTypeFormatted}/unspecified/unspecified/unspecified/unspecified`) #{body}
                    h4 
                        a(href=`/inventory/cars/${bodyTypeFormatted}/${makeFormatted}/unspecified/unspecified/unspecified`) #{body} by #{car.make.name}
                    h4 
                        - typeLowerCase = ''
                        - body==='SUVs' ? typeLowerCase='SUV' : typeLowerCase = body.toLowerCase()
                        if typeLowerCase.slice(-1)[0] == 's'
                            a(href=`/inventory/cars/${bodyTypeFormatted}/unspecified/${countryFormatted}/unspecified/unspecified`) #{car.make.demonym} #{typeLowerCase}
                        if typeLowerCase.slice(-1)[0] !== 's'
                            a(href=`/inventory/cars/${bodyTypeFormatted}/unspecified/${countryFormatted}/unspecified/unspecified`) #{car.make.demonym} #{typeLowerCase}
                    h4 
                        if typeLowerCase.slice(-1)[0] == 's'
                            a(href=`/inventory/cars/${bodyTypeFormatted}/unspecified/unspecified/${car.version.fuel}/unspecified`) #{car.version.fuel} #{typeLowerCase}
                        if typeLowerCase.slice(-1)[0] !== 's'
                            a(href=`/inventory/cars/${bodyTypeFormatted}/unspecified/unspecified/${car.version.fuel}/unspecified`) #{car.version.fuel} #{typeLowerCase}s
                    if car.version.body !== 'Unspecified'
                        h4
                            a(href=`/inventory/cars/unspecified/${makeFormatted}/unspecified/unspecified/${car.version.body}`) #{car.version.body}s by #{car.make.name}
                        h4 
                            a(href=`/inventory/cars/unspecified/unspecified/${countryFormatted}/unspecified/${car.version.body}`) #{car.make.demonym} #{car.version.body}s
                        h4  
                            a(href=`/inventory/cars/unspecified/unspecified/unspecified/${car.version.fuel}/${car.version.body}`) #{car.version.fuel} #{car.version.body}s
                else 
                    h4 
                        a(href=`/inventory/cars/bodytype/make/country/fuel/body`) #{car.make.demonym} cars
        if sameModel.length > 0
            .interest-row 
                h4 Some other #{car.model.year} #{car.make.name}  #{car.model.name}s you might like...
                .listFlex
                    for car in sameModel 
                        .list-card 
                            a(href = car.car.url)
                                .card-thumbnail(id='smallThumb')
                                    if undefined===car.pic 
                                        img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/c_fit,w_800/iz6xc3p9434pwnxzqqjk' alt=`Unavailable car pic placeholder image` loading='lazy')
                                    else 
                                        img(src=car.pic.smallThumbSrc alt=`Vehicle image` loading='lazy')
                                .card-info(id='cardInfoModelPage')
                                    .card-logo
                                        img(src=car.make.logoSrc alt=`${car.make.name} logo` loading='lazy')
                                    .card-text
                                        .title 
                                            p #{car.car.year} #{car.car.makeName} #{car.car.modelName}
                                        .subtitle
                                            p #{car.car.modelVariant}
                                        .footer
                                            p $#{car.car.price.toLocaleString()} • #{car.car.country ? car.car.country : 'Unknown location'} • #{car.car.mileage.toLocaleString()} miles
        if type == 'powerful'
            .interest-row 
                h4 If you're into powerful cars you might like...
                .listFlex
                    for car in sameTypeCars 
                        .list-card 
                            a(href = car.car.url)
                                .card-thumbnail(id='smallThumb')
                                    if undefined===car.pic 
                                        img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/c_fit,w_800/iz6xc3p9434pwnxzqqjk' alt=`Unavailable car pic placeholder image` loading='lazy')
                                    else 
                                        img(src=car.pic.smallThumbSrc alt=`Vehicle image` loading='lazy')
                                .card-info(id='cardInfoModelPage')
                                    .card-text
                                        .title 
                                            p #{car.car.year} #{car.car.makeName} #{car.car.modelName}
                                        .subtitle
                                            p #{car.car.modelVariant}
                                        .footer
                                            p $#{car.car.price.toLocaleString()} • #{car.car.country ? car.car.country : 'Unknown location'} • #{car.car.mileage.toLocaleString()} miles
        if type =='strong'
            .interest-row 
                h4 If you're into strong vehicles you might like...
                .listFlex
                    for car in sameTypeCars 
                        .list-Card 
                            a(href = car.car.url)
                                .card-thumbnail(id='smallThumb')
                                    if undefined===car.pic 
                                        img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/c_fit,w_800/iz6xc3p9434pwnxzqqjk' alt=`Unavailable car pic placeholder image` loading='lazy')
                                    else 
                                        img(src=car.pic.smallThumbSrc alt=`Vehicle image` loading='lazy')
                                .card-info(id='cardInfoModelPage')
                                    .card-text
                                        .title 
                                            p #{car.car.year} #{car.car.makeName} #{car.car.modelName}
                                        .subtitle
                                            p #{car.car.modelVariant}
                                        .footer
                                            p $#{car.car.price.toLocaleString()} • #{car.car.country ? car.car.country : 'Unknown location'} • #{car.car.mileage.toLocaleString()} miles
        if type == 'fast'
            .interest-row 
                h4 If you're into fast cars you might like...
                .listFlex
                    for car in sameTypeCars 
                        .list-Card 
                            a(href = car.car.url)
                                .card-thumbnail(id='smallThumb')
                                    if undefined===car.pic 
                                        img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/c_fit,w_800/iz6xc3p9434pwnxzqqjk' alt=`Unavailable car pic placeholder image` loading='lazy')
                                    else 
                                        img(src=car.pic.smallThumbSrc alt=`Vehicle image` loading='lazy')
                                .card-info(id='cardInfoModelPage')
                                    .card-text
                                        .title 
                                            p #{car.car.year} #{car.car.makeName} #{car.car.modelName}
                                        .subtitle
                                            p #{car.car.modelVariant}
                                        .footer
                                            p $#{car.car.price.toLocaleString()} • #{car.car.country ? car.car.country : 'Unknown location'} • #{car.car.mileage.toLocaleString()} miles
        if type == 'economy'
            .interest-row 
                h4 Vehicles with good fuel economy
                .listFlex
                    for car in sameTypeCars 
                        .list-Card 
                            a(href = car.car.url)
                                .card-thumbnail(id='smallThumb')
                                    if undefined===car.pic 
                                        img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/c_fit,w_800/iz6xc3p9434pwnxzqqjk' alt=`Unavailable car pic placeholder image` loading='lazy')
                                    else 
                                        img(src=car.pic.smallThumbSrc alt=`Vehicle image` loading='lazy')
                                .card-info(id='cardInfoModelPage')
                                    .card-text
                                        .title 
                                            p #{car.car.year} #{car.car.makeName} #{car.car.modelName}
                                        .subtitle
                                            p #{car.car.modelVariant}
                                        .footer
                                            p $#{car.car.price.toLocaleString()} • #{car.car.country ? car.car.country : 'Unknown location'} • #{car.car.mileage.toLocaleString()} miles

        

        

