extends layout 
block scripts 
    script(src='/javascripts/makeDetailScript.js', defer='true')
    script(src="/javascripts/layoutSearch.js" defer='true')
    script(src="/javascripts/layoutModes.js" defer='true')
    script(src="/javascripts/layoutMenuButton.js" defer='true')
    script(src="/javascripts/makeDetailStoryHandler.js" defer='true')
block content 
    .make-header
        .make-info
            h1= make.name
            .make-sub-info
                h2= make.country
        .make-options 
            a(href=make.url+'/update') Update
            a(id='delete-option') Delete
    .delete-warning(class='invisible') 
        .delete-warning-msg
            img(src='/images/icons/warningIcons/warning1.svg', alt='warningIcon')
            p #{`This make and all its associated models, versions and cars will be permanently deleted. Do you wish to proceed?`}
        .delete-warning-controls
            a(id='btn-delete-no') No, return
            a(id='btn-delete-yes', href=make.url+'/delete') Yes, delete
    img(src=make.logoSrc, atl=`${make.name} logo` id='makeMainLogo')
    .make-more
    if list && list.length > 0
        h2 Models
        for model in list 
            h3 
                a(href=`/inventory/model/model-page/${makeId}/${model.formattedName}`) #{model.modelName}
    else 
        h3 #{`We don't have ${make.name} models at the moment.`}
                    
    
    

