extends layout 
block content 
    h1(class='pageTitle') Makes 
    .makeContainer 
        for make in makesInfo
            .makeCard
                a(href=make.make.url) 
                    img(src=`${make.make.logoSrc}` alt=`${make.make.name} logo` loading='lazy')
                .makeCardInfo
                    h2
                        a(href=make.make.url) #{make.make.name}
                    p Cars: #{make.count}
                    if make.count == 1 
                        .makeCarInfoRow
                            p First added: 
                            p 
                                a(href=make.oldestUrl) #{make.oldest}
                    if make.count >=2
                        .makeCarInfoRow
                            p First added: 
                            p 
                                a(href=make.oldestUrl) #{make.oldest}
                        .makeCarInfoRow
                            p Last added: 
                            p 
                                a(href=make.newestUrl) #{make.newest}
                    
