extends layout 
block content 
    h1(class='pageTitle') Makes 
    .makeContainer 
        for make in makesInfo
            .makeCard
                img(src=`${make.make.logoSrc}` alt=`${make.make.name} logo`)
                .makeCardInfo
                    h2
                        a(href=make.make.url) #{make.make.name}
                    p Cars: #{make.count}
                    if make.count > 0
                        p Last added:
                    
