extends layout 
block scripts 
    script(src='/javascripts/makeDetailScript.js', defer='true')
    script(src="/javascripts/layoutSearch.js" defer='true')
    script(src="/javascripts/layoutModes.js" defer='true')
    script(src="/javascripts/layoutMenuButton.js" defer='true')
    script(src="/javascripts/cardTricks.js" defer='true')
    script(src="/javascripts/bottomSearchReacher.js" defer='true')
block content 
    .make-header
        .make-info
            h1= make.name
            .make-sub-info
                h2= make.country
        .make-options 
            a(href='') Update
            p Delete
        dialog(id='deleteMakeDialog')
            .dialogContents 
                img(src='/images/icons/warningIcons/warning1.svg', alt='warningIcon' class='black')
                img(src='/images/icons/warningIcons/warning1white.svg', alt='warningIcon' class='white')
                .dialogInfo
                    .dialogMessage 
                        p This make and all its vehicles will be permanently deleted. Do you wish to proceed?
                    .dialogButtons 
                        button(data-url=`${make.url}/delete`) Yes, delete 
                        button No
    .delete-warning(class='invisible') 
        .delete-warning-msg
            img(src='/images/icons/warningIcons/warning1.svg', alt='warningIcon')
            p #{`This make and all its associated models, versions and cars will be permanently deleted. Do you wish to proceed?`}
        .delete-warning-controls
            a(id='btn-delete-no') No, return
            a(id='btn-delete-yes', href=make.url+'/delete') Yes, delete
    .makeMainLogoContainer
        img(src=make.logoSrc, atl=`${make.name} logo` id='makeMainLogo')
    .make-more
    if list && list.length > 0
        h2(class='subtitle') Models
        .modelsContainer
            for model in list 
                h3 
                    a(href=`/inventory/model/model-page/${makeId}/${model.formattedName}`) #{model.modelName}
        if cars.length > 0
            h2(class='subtitle') Cars
            .list(id='subList') 
                for car in cars
                    .list-card
                        a(href=car.car.url) 
                            .card-thumbnail
                                if undefined===car.pic
                                    img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/c_fit,w_800/iz6xc3p9434pwnxzqqjk' alt=`Unavailable car pic placeholder image` loading='lazy')
                                else 
                                    img(src=car.pic alt=`Vehicle image` loading='lazy')
                            .card-info
                                .card-logo
                                    img(src=car.car.make.logoSrc alt=`${car.car.make.name} logo` loading='lazy')
                                .card-text
                                    .title 
                                        p #{car.car.version.year} #{car.car.make.name} #{car.car.model.name}
                                    .subtitle 
                                        p #{car.car.modelVariant}
                                    .footer
                                        p $#{car.car.price.toLocaleString()} • #{car.car.status}
    else 
        h3 #{`We don't have ${make.name} models at the moment.`}
    if sameOriginMakes.length > 0
        .otherMakes
            h2 Other #{make.demonym} makes:
            .makeContainer
                    for other in sameOriginMakes 
                        .makeCard
                            a(href=other.url) 
                                img(src=`${other.logoSrc}` alt=`${other.name} logo` loading='lazy')
                        
    
    

