extends layout 
block content 
    h1 #{models[0].make.name} #{models[0].name}
    if modelList 
        for model in modelList 
            h2 #{model.year}
                for version in model.versions 
                    .version-row
                        .version-row-title
                            h3 
                                a(href=`/inventory/version/${version.versionId}`) #{version.versionName} 
                        .version-row-numbers 
                            h4 Vehicles: 
                            a(href='') #{version.versionCarNumber}
                            .version-row-numbers-links
                                p #{' ('}
                                a(href='') x  
                                p #{' available, '}
                                a(href='') y 
                                p #{'sold)'} 
                
        
    
    