extends layout 
block content 
    h1 #{model.year} #{model.make.name} #{model.name}
    if versions
        for version in versions
            h2 #{version.versionName}
                for car in version.carsList 
                    h3 #{`Price: ${car.price}, Mileage:${car.mileage}`}