extends layout
block scripts
    script(src='/javascripts/modelListPageControls.js', defer='true')
    script(src="/javascripts/layoutSearch.js" defer='true')
    script(src="/javascripts/layoutModes.js" defer='true')
    script(src="/javascripts/layoutMenuButton.js" defer='true')
    script(src="/javascripts/modelDetailScript.js" defer='true')
block content 
    if modelsOverview.modelName == null
        h1 All models recently deleted 
    else 

        .model-list-header
            .modelMakeLogo 
                a(href=modelsOverview.makeUrl) 
                    img(src=`${makeLogo}` alt='Make logo')
            .models-list-info
                .models-list-title
                    h1(class='pageTitle') #{modelsOverview.makeName} #{modelsOverview.modelName}
                .models-control 
                    a(id='models-delete-all') Delete All
            .delete-warning(class='invisible', id='models-delete-all-warning') 
                .delete-warning-msg
                    img(src='/images/icons/warningIcons/warning1.svg', alt='warningIcon')
                    p #{`This model will be permanently deleted for every year. Every model's associated versions and vehicles will be permanently deleted as well. Do you wish to proceed?`}
                .delete-warning-controls
                    a(id='btn-delete-all-no') No, return
                    a(id='btn-delete-all-yes' href=`/inventory/model/${modelsOverview.modelName.split(' ').join('_')}/${modelsOverview.makeId}/deleteAll`) Yes, delete
        .modelMore
        if modelList 
            - count = 0
            for model in modelList
                .model-row
                    .model-title-modelPage
                        h2 #{model.year}
                        a(class='model-delete', id=`model-delete-${count}`) Delete model
                    .delete-warning(class='invisible', class='model-delete-warning', id=`model-delete-warning-${count}`) 
                        .delete-warning-msg
                            img(src='/images/icons/warningIcons/warning1.svg', alt='warningIcon')
                            p #{`This model and all its associated versions and vehicles will be permanently deleted. Do you wish to proceed?`}
                        .delete-warning-controls
                            a(class='btn-delete-no', id=`btn-delete-no-${count}`) No, return
                            a(id='btn-delete-yes' href=`/inventory/model/${model.id}/delete`) Yes, delete
                    .model-content
                    - count ++
                        if model.versions.length == 0
                            h3 We don't have versions for this year at the moment.
                        else
                            for version in model.versions 
                                .version-row
                                    .version-row-title
                                        h3 
                                            a(href=`/inventory/version/${version.versionId}`) #{version.versionName} 
                                    .version-row-numbers 
                                        h4 Vehicles:
                                    .listFlex
                                        for car in version.cars 
                                            .list-card 
                                                a(href=car.car.url)
                                                    .card-thumbnail
                                                        if undefined===car.pic
                                                            img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/c_fit,w_800/iz6xc3p9434pwnxzqqjk' alt=`Unavailable car pic placeholder image` loading='lazy')
                                                        else 
                                                            img(src=car.pic alt=`Vehicle image` loading='lazy')
                                                    .card-info
                                                        .card-logo
                                                            img(src=car.car.make.logoSrc alt=`${car.car.make.name} logo` loading='lazy')
                                                        .card-text
                                                            .title 
                                                                p $#{car.car.price.toLocaleString()} • #{car.car.status}
                                                            .subtitleModelPage 
                                                                p #{car.car.mileage.toLocaleString()} miles
                                                            .footer
                                                                p #{car.car.country ? car.car.country : 'Unknown location'}
                    
    
    
                                    
                
        
        