extends layout
block content 
    if carList && carList.length > 0
        a(href='/inventory/year') < Back to Years page
        h1(class='yearCarsTitle') #{title}
        .cars-container
            for car in carList 
                a(href=car.car.url) 
                        .card-thumbnail
                            if undefined===car.pic
                                img(src=`/images/dummyImages/dummy4.avif` alt=`Unavailable car pic placeholder image`)
                            else 
                                img(src=car.pic.thumbnailSrc alt=`Vehicle image`)
                            
                        .card-info
                            .card-logo
                                img(src=car.car.make.logoSrc alt=`${car.car.make.name} logo`)
                            .card-text
                                .title 
                                    p #{car.car.year} #{car.car.make.name} #{car.car.modelName}
                                .subtitle 
                                    p #{car.car.modelVariant}
                                .footer
                                    p $#{car.car.price.toLocaleString()} • #{car.car.status}
    if errors
        ul 
            for error in errors 
                li= error.msg
    if !carList || carList.length < 1 
        h2 #{`Sorry, we don't have ${title} at the moment`}
